body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 15px;
}
.app-input {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.app-input div {
  margin-bottom: 5px;
  margin-top: 5px;
}
.app-input span {
  width: 85px;
  display: inline-block;
}
.app-input button {
  width: 150px;
  margin-top: 10px;
}
.data-table-wrapper tr {
  border-bottom: 1px solid black;
}
.dropdown, #EditDeleteConfigs{
  display: inline;
}
.home{
  cursor: pointer;
}
.home_right{
  position: inline-block;
  float: right;
  margin-right: 5px;
}
.title {
  width: 100%;
  background-color:lightgray;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
}
.rdt_TableCell {
  display: inline-block !important;
  padding: 10px;
  overflow: hidden;
  white-space: normal !important;
}
#popup{
  position: fixed;
  z-index: 2;
  top: 2px;
  right: 300px;
}
.content2{
  text-align: center;
  width: 100%;
}
#loggedInAs{
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
  font-weight: lighter;
}
.beamlineselect{
	margin: 10px;
}
.Scidog{
  display: block;
  width: 920px;
  margin-left: 20px;
  float: left;
}
.AddMeta{
  display: block;
  float: right;
  margin-right: 20px;
  width: calc(100% - 1000px);
  min-width: 300px;
}
.addMetaWarning{
  color: red !important;
}
#footer{
  display: block;
  position: absolute;
  float: left;
  height: 150px;
  width: 100%;
  bottom: 0px;
  cursor: url(https://icons.iconarchive.com/icons/google/noto-emoji-animals-nature/48/22215-dog-icon.png), auto;
  opacity: 0;
  z-index: -2;
}
#footer:hover{
  opacity: 1;
}
#food{
  position: absolute;
  height: 48px;
  width: 48px;
  background-image: url(https://img.icons8.com/dotty/48/000000/dog-bowl.png);
  cursor: url(https://img.icons8.com/cute-clipart/32/000000/dog.png), auto;
}
#food:hover{
  background-image: url(https://img.icons8.com/dotty/48/000000/empty-dog-bowl.png);
}
.bulkEditor {
    font-family: menlo, monospace;
    width: 100%;
    height: 400px;
    background: #f0f0f0;
    border: 1px solid #999;
    box-shadow: inset 0px 0px 10px #bbb;
    padding: 10px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.5em;
}

#bulk-toggle-label {
    position: relative;
    top: -6px;
    padding-left: 10px;
}
